
h1 {

    color: #fdcb46;
    margin-top: 1.5%;

}

.content1 {

    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 10%;

}

.content2 {

    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 3%;
    margin-bottom: 2%;

}

header {

    position: absolute;
    text-align: center;
    height: 12%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #579c87;

}

.prochainement {

    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #579c87;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    color: #fdcb46;
    margin-top: 5%;
    margin-bottom: 15%;

}

footer {
        
    position: fixed;
    height: 10%;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: #579c87;
    color: #fdcb46;

}

footer p:first-child {

    margin-top: 2%;
    margin-left: 2%;

}

footer p {

    margin-top: 2%;
    margin-right: 2%;

}

a {

    text-decoration: none;
    color: inherit;

}

.menu1 {

    background-color: #fcdfdb;
    text-align: center;
    color: #7e585b;
    display: flex;
    flex-direction: column;

}

.menu2 {

    background-color: #fff5fe;
    text-align: center;
    color: #c77412;

}

.menu3 {

    background-color: #f9f9f9;
    text-align: center;
    color: #1b91fa;

}

.menu4 {

    background-color: #fdfffd;
    text-align: center;
    color: #72bf56;

}